<h1>Hi create a bot yes ok</h1>

<form action="<%= bot_url %>" method="POST" accept-charset="utf-8">

  <%=csrf_token%>

  <label>Bot Nickname
    <input type="text" name="bot[nickname]">
  </label>
  <br>

  <label>Server
    <input type="text" name="bot[server]">
  </label>
  <br>

  <label>Port (default 6667)
    <input type="text" name="bot[port]" value="6667" placeholder="6667">
  </label>
  <br>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>